<div style="margin: auto; width: 50%; border: 3px solid black; padding: 10px;">

    <h1> Edit Store </h1>
    <% if (errors !=undefined) { %>
        <ul>
            <% errors.forEach((error)=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <form action=<%= "/stores/edit/"+sid%> method="POST">
                <label>ID: </label>
                <%= sid %><br>
                <label>Location: </label>
                <input type="text" name="location"><br>
                <label>Manager ID: </label>
                <input type="text" name="mgrid"><br>
                <input type="submit" value="OK">
            </form>
</div>