<div style="margin: auto; width: 50%; border: 3px solid black; padding: 10px;">

<h1>Managers</h1>
<a href="/managers/add">Add a Manager</a>
<hr>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    <% managers.forEach((m) => { %>
        <tr>
            <td><%= m._id %></td>
            <td><%= m.name %></td>
            <td><%= m.salary %></td>
            
        </tr>
    <% }) %>
</table>
<hr>
<a href="/">Home</a>
</div>