<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    <% managers.forEach((m) => { %>
        <tr>
            <td><%= m._id %></td>
            <td><%= m.name %></td>
            <td><%= m.salary %></td>
            <!-- <td><a href="/stores/edit/">Update</a></td> -->
        </tr>
    <% }) %>
</table>
