<div style="margin: auto; width: 50%; border: 3px solid black; padding: 10px;">

    <h1>Stores</h1>
    <a href="/stores/add">Add a Manager</a>
    <hr>
    

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <% stores.forEach((s) => { %>
        <tr>
            <td><%= s.sid %></td>
            <td><%= s.location %></td>
            <td><%= s.mgrid %></td>
            <td><a href="/stores/edit/<%= s.sid%>">Update</a></td>
        </tr>
    <% }) %>
</table>
<hr>
<a href="/">Home</a>
</div>